version: "3"

services:

  postgres:
    image: postgres
    environment:
    - POSTGRES_PASSWORD=postgres

  django:
    container_name: django
    build: django
    command: python manage.py runserver 0.0.0.0:80
    volumes:
      - ./django:/code
    ports:
      - "80:80"
    depends_on:
      - postgres