version: "3"

services:

  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  django:
    container_name: django
    build: django
    entrypoint: /entrypoint.sh
    command: python manage.py runserver 0.0.0.0:80
    volumes:
      - ./django:/code
    ports:
      - "80:80"
    depends_on:
      - postgres

  nginx:
    container_name: nginx
    build: angular
    ports:
      - "8080:80"