<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Armario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Armario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid *ngIf="listaPrendas.length > 0">
    <ion-row>
      <ion-col size="6" *ngFor="let prenda of listaPrendas">
        <ion-card (click)="abrirPrendaDetail(prenda.id)">
          <img src="{{ prenda.imagen }}">
          <ion-card-header>
            <ion-card-title>{{ prenda.marca }}</ion-card-title>
            <ion-card-subtitle>{{ prenda.modelo }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
