<ng-container *ngIf="prendaData">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-avatar>
              <img [src]="prendaData.imagen">
            </ion-avatar>
            <div class="ion-padding-start">
              {{ prendaData.marca }} {{ prendaData.modelo }}
            </div>
          </ion-row>
        </ion-grid>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <h1>prenda detalle</h1>

  </ion-content>
</ng-container>
