<ng-container *ngIf="!loading">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-avatar>
              <img [src]="prendaData.imagen">
            </ion-avatar>
            <div class="ion-padding-start">
              {{ prendaData.marca }} {{ prendaData.modelo }}
            </div>
          </ion-row>
        </ion-grid>
      </ion-title>
    </ion-toolbar>
  </ion-header>

   <ion-content>
      <ion-list>
        <ion-item *ngFor="let match of prendaMatches">
          <ion-avatar slot="start">
            <img [src]="match.prenda.imagen">
          </ion-avatar>
          <ion-label>
            <h2>{{ match.prenda.marca }}</h2>
            <h3>{{ match.prenda.modelo }}</h3>
            <div>
              <ion-grid>
                <ion-row class="ion-align-items-center">
                  <ion-col [size]="3">
                    <ion-icon name="heart-circle-outline"></ion-icon> {{ match.positivos }}
                  </ion-col>
                  <ion-col [size]="3">
                    <ion-icon name="close-circle-outline"></ion-icon>  {{ match.negativos }}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
   </ion-content>
</ng-container>
